{% extends './shared/container.html' %}

{% block content %}
    <div id="js_content" class="cs_content_full">
        <div class="hide" id="chat"></div>
        <textarea id="chat_board" rows="16" style="width: 860px;"></textarea>
        <form id="form_chat_input" action="/chat/send_msg#">
            <input type="text" id="chat_name" style="width: 100px;" placeholder="Name"/>
            <input type="text" id="chat_msg" class="focus" style="width: 680px;"/>
            <input type="submit" class="btn" style="margin-top: -10px;" value="Send"/>
        </form>
    </div>
{% endblock %}

{% block menu %}
    <div id="js_menu" class="cs_menu"></div>
{% endblock %}