<div class="cs_navigation">
    <div class="cs_navigation_inner">
        <div class="cs_container">
            <div class="cs_row">
                <div class="span12">
                    <a class="cs_logo" href="/">{{ title_prefix }}</a>

                    <ul id="js_navigation">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/posts">Board</a></li>
                        <li><a href="/chat">Chat</a></li>
                    </ul>

                    <ul class="cs_action">
                        {% if user %}
                            <li><a href="{{ logout_url }}#">Sign out</a></li>
                        {% else %}
                            <li><a href="{{ login_url }}#">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>